*{
	border: 0;
	margin: 0;
}
#outer{
	width: 300px;
	margin: 10px auto;
	color: #fff;

	border:12px solid #EEE;
	border-radius: 10px;
	padding: 5px;
}
a{
	text-decoration: none;
	color: #fff;
}
dl{
	background-color: #9C0;
	cursor: pointer;
}
dl dt{
	border-bottom: 1px solid #fff;
	padding: 3px 3px 3px 15px;
	font-weight: bold;
	height: 22px;
	line-height: 22px;
	font-size: 13px;


}
dl dd{
	height: 20px;
	line-height: 20px;
	border-bottom: 1px solid #fff;
	padding: 3px 3px 3px 15px;
	display: none;
	background-color: #7CF;
}
dt.now{
	background-color: #09F;
}