*{
	margin: 0;
	padding: 0;
}

#outer{
	width: 300px;
	margin: 0 auto;
	padding-top: 10px;
}

label{
	overflow: hidden;
}

body div.old{
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background-color: #000;
	color: #fff;
	padding: 15px;
}
#outer p{
	margin-bottom: 10px;
}
#outer p input{
	padding: 3px;
}
#outer p label{
	width: 50px;
	display: inline-block;
	border: ;
}
p button{
	margin-right: 10px;
	padding: 3px;
}