*{
	margin: 0;
	padding: 0;
}
ul{
	list-style-type: none;
}
body{
	background-color: #000; 
}
img{
	border-radius: 3px
}
#wrap ul #first img{
	width: 156px;
	height: 156px;
	float: left;
	margin: 0px 3px 3px 0px;
}
#wrap{
	width: 212px;
	border:5px solid #fff;
	border-radius: 5px;
	margin: 10px auto;
	background-color: #fff;
	overflow: hidden;
	padding: 3px 0 0px 3px;
	position: relative;
}

#wrap ul li img{
	width: 50px;
	margin: 0px 3px 3px 0px;
	height: 50px;
	float: left;
}
.clear{
	clear: both;
}
#load{
	width: 156px;
	height: 156px;
	opacity: 0.5;
	background: #fff url(../img/loading.gif) 50% 50% no-repeat ;
	position: absolute;
	top: 3;
	left: 3;
	display: none;
}