*{
	margin: 0;
	padding:0;
}

form{
	border: 1px solid #666;
	width: 150px;
	margin: 0 auto;
	border-radius: 5px;
	margin-top: 10px;
    background: #fafafa;
}


form p:first-child{
	border-bottom: 1px solid #666;
	padding-bottom: 10px;
	padding-top: 10px;
}

p{
	padding: 7px;
}
label{
	margin-left: 5px;
}
#expl{
	text-align: center;
}
form p span{
	margin-left: 10px;
	cursor: pointer;
	color: #09f;
}
form p span:hover{
	color:red;
}