
#wrap
{
	margin: 0 auto;
	width: 500px;
	text-align: center;
	overflow: hidden;
}

ul,li
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}

#colorList li
{
	width: 15px;
	height: 15px;
	float: left;
	margin: 5px;
	background-color: red;
	position: relative;
	cursor: pointer;
}
#colorList li div
{
	width: 7px;
	height: 7px;
	background-color: #fff;
	margin-top: 4px;
	margin-left: 4px;
	display: none;
}

#header
{
	clear: both;
	overflow: hidden;
}

#header ul
{
	border-left: 1px solid #fff;
	margin: 5px 0;
}

#header li
{
	float: left;
	border-width: 1px 1px 1px 0 ;
	border-color: #fff;
	border-style: solid;
	padding: 4px 25px;
	background-color: red;
	color: #fff;
}